#Set line numbers
set linenumbers

# Set smooth scrolling
set smooth

# Set word wrapping
set softwrap

# Set tabsize
set tabsize 4

# Set titlecolor
set titlecolor yellow

# Set number color
set numbercolor yellow

# Set statuscolor
set statuscolor yellow

# Set autoindenting on
set autoindent

include "/usr/share/nano/*.nanorc"
